---
import Subtitles from "@components/Subtitles.astro";
import ArticlesIcon from "@assets/iconsAstro/ArticlesIcon.astro"
---

<section>
  <Subtitles title="Articulos">
    <ArticlesIcon />
  </Subtitles>

  <div class="flex mt-4 flex-col mb-16 gap-5">
    <div>
      <h3 class="text-P-subtitle-primary text-lg">
        PROYECTO DE UNA CONVOCATORIA INTERNA SEMILLEROS
        <span class="font-bold">“DISEÑO DE UN REPOSITORIO DE RECURSOS EDUCATIVOS SOBRE ESTADÍSTICA PARA INGENIERÍA INFORMÁTICA CENTRADO EN EL USUARIO: USABILIDAD Y ARQUITECTURA DE LA INFORMACIÓN”</span>
        - 26 de febrero de 2024 – hasta la fecha.
      </h3>

      <p class="mt-2 text-P-text-secondary">Publicación en curso en la Universidad Nacional de Colombia en la Revista Industria y Organizaciones.</p>
    </div>
    
    <div>
      <h3 class="text-P-subtitle-primary text-lg">
        PROYECTO DE UNA CONVOCATORIA INTERNA SEMILLEROS
        <span class="font-bold">“SISTEMA DE REPORTE DE FALLAS EN LAS SALAS DE CÓMPUTO DE UNA INSTITUCIÓN DE EDUCACIÓN SUPERIOR”</span>
- abril 2024 – 27 de mayo de 2024.
      </h3>

      <p class="mt-2 text-P-text-secondary">Este artículo se agregó al libro titulado “Advances in Computing, 17th Colombian Conference on Computing, CCC 2023, Medellín, Colombia, August 10–11, 2023, Revised Selected Papers”</p>

      <a class="w-max text-P-title-primary mt-4 block hover:text-P-text-secondary" href="https://www.springerprofessional.de/computer-room-failure-reporting-system-for-a-higher-education-in/26298620" target="_black">Ir a página</a>
    </div>
  </div>
</section>
