---
interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="shadow ring-[2px] hover:ring-4 ring-P-light-backgound-secondary dark:ring-P-dark-backgound-secondary flex items-center gap-2 p-4 rounded-lg transition-all duration-200 text-white"
>
  <slot />
  {title}
</a>
