---
interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="red-social flex items-center gap-2 p-4 rounded-lg transition-all duration-200 text-white"
>
  <slot />
  {title}
</a>

<style>
  .red-social {
    box-shadow: 0px 0px 0px 1px rgb(255, 146, 38);
  }
  .red-social:hover {
    box-shadow: 0px 0px 0px 3px rgb(255, 146, 38);
  }
</style>
