---
import Subtitles from "@components/Subtitles.astro";
import ExperienceIcon from "@assets/iconsAstro/ExperienceIcon.astro";
---

<section>
  <Subtitles title="Experiencia">
    <ExperienceIcon />
  </Subtitles>

  <div class="flex mt-4 gap-3 flex-col mb-16">
    <h3 class="text-P-subtitle-primary text-lg">Semillero Pixel</h3>

    <ul class="list-disc pl-6 text-P-text-primary flex flex-col gap-2">
      <li>
        <p>
          Contribuci贸n con el desarrollo del frontend del aplicativo web
          SisReports usando React.
        </p>
      </li>
      <li>
        <p>
          Contribuci贸n en la creaci贸n del articulo que explica que es SisReports.
        </p>
      </li>
      <li>
        <p>Participaci贸n en eventos nacionales como expositor.</p>
      </li>
    </ul>
  </div>
</section>
