---
import Subtitles from "@components/Subtitles.astro";
import ExperienceIcon from "@assets/iconsAstro/ExperienceIcon.astro";
---

<section>
  <Subtitles title="Experiencia">
    <ExperienceIcon />
  </Subtitles>

  <div class="flex mt-4 gap-3 flex-col mb-16">
    <h3 class="text-P-light-subtitle-primary text-lg">Semillero Pixel</h3>

    <ul class="list-disc pl-6 text-P-light-text-primary">
      <li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
          necessitatibus consequatur tenetur ab modi pariatur temporibus
          veritatis commodi voluptates repellendus iusto nostrum, asperiores
          repudiandae eligendi tempore fugiat, labore, laboriosam reprehenderit?
        </p>
      </li>
    </ul>
  </div>
</section>
