---
import img from "../../public/favicon.svg";

import DownloadIcon from "@assets/iconsAstro/DownloadIcon.astro";
---

<header
  class="flex flex-col sm:flex-row gap-6 items-center py-20 border-dotted border-b-[1px] border-P-light-background-tertiary"
>
  <picture
    class="w-48 h-48 min-w-48 min-h-48 rounded-full shadow-lg shadow-P-light-background-tertiary overflow-hidden border-[8px] border-P-light-background-tertiary"
  >
    <img class="w-full h-full object-cover" src={img.src} alt="image" />
  </picture>

  <div class="flex flex-col items-center sm:items-start gap-2">
    <h1
      class="text-3xl sm:text-5xl text-P-light-title-primary dark:text-P-dark-title-primary font-bold"
    >
      Johan Alvarez
    </h1>
    <p
      class="text-P-light-subtitle-primary dark:text-P-dark-subtitle-primary text-lg font-semibold"
    >
      Desarrollador Web Frontend
    </p>

    <div class="flex">
      <a
        class="flex items-center gap-2 bg-[#7aedbe] sm:bg-P-light-background-tertiary rounded-lg px-5 py-1 font-semibold sm:hover:bg-[#7aedbe] transition-all duration-200"
        href=""
        title="Descargar CV"
        download
      >
        <DownloadIcon />
         CV
      </a>
    </div>
  </div>
</header>
