---
import ButtonNameFloating from "./ButtonNameFloating.astro";
const { skills } = Astro.props;
---

<div>
  {
    skills.map((item) => (
      <ButtonNameFloating message={item.toUpperCase()} className={true}>
        <img
          src={`/@fs/C:/Users/TJIGRIS/Desktop/DESARROLLO/github/PortfolioJA/src/assets/iconsSkills/${item}.svg`}
          alt={item}
        />
      </ButtonNameFloating>
    ))
  }
</div>
