---
import ButtonNameFloating from "./ButtonNameFloating.astro";
const { skills } = Astro.props;
---

<div>
  {
    skills.map((item) => (
      <ButtonNameFloating message={item.skill.toUpperCase()} className={true}>
        <img src={item.url} alt={item.skill} />
      </ButtonNameFloating>
    ))
  }
</div>
