---
import Subtitles from "@components/Subtitles.astro";
import StarIcon from "@assets/icons/StarIcon.astro";
---

<section>
  <Subtitles title="Projectos">
    <StarIcon />
  </Subtitles>

  <div>d</div>
</section>
