---
import Subtitles from '@components/Subtitles.astro'
import StarIcon from '@assets/iconsAstro/StarIcon.astro'

import { ContainerProjects } from './ContainerProjects'
---

<section>
  <Subtitles title='Proyectos'>
    <StarIcon />
  </Subtitles>

  <ContainerProjects client:load />
</section>
