---
import Subtitles from "@components/Subtitles.astro";
import RedesSocialesIcon from "@assets/iconsAstro/RedesSocialesIcon.astro";
import ButtonRedesSociales from "@components/ButtonRedesSociales.astro";
import LinkedinIcon from "@assets/iconsAstro/LinkedinIcon.astro";
import GithubIcon from "@assets/iconsAstro/GithubIcon.astro";
---

<section class="">
  <Subtitles title="Redes Sociales">
    <RedesSocialesIcon />
  </Subtitles>

  <div class="flex mt-4 gap-3 flex-wrap mb-16">
    <ButtonRedesSociales
      title="LinkedIn"
      href="https://www.linkedin.com/in/johan-alvarez-pinta/"
    >
      <LinkedinIcon />
    </ButtonRedesSociales>
    <ButtonRedesSociales title="Github" href="https://github.com/igrisdev">
      <GithubIcon />
    </ButtonRedesSociales>
  </div>
</section>
