---
import Subtitles from "@components/Subtitles.astro";
import RedesSocialesIcon from "@assets/icons/RedesSocialesIcon.astro";
import ButtonRedesSociales from "@components/ButtonRedesSociales.astro";
import LinkedinIcon from "@assets/icons/LinkedinIcon.astro";
import GithubIcon from "@assets/icons/GithubIcon.astro";
---

<section class="">
  <Subtitles title="Redes Sociales">
    <RedesSocialesIcon />
  </Subtitles>

  <div class="flex mt-4 gap-3 flex-wrap mb-16">
    <ButtonRedesSociales
      title="Linkedin"
      href="https://www.linkedin.com/in/joha-alvarez-pinta-847771227/"
    >
      <LinkedinIcon />
    </ButtonRedesSociales>
    <ButtonRedesSociales title="Github" href="https://github.com/TJIGRIS">
      <GithubIcon />
    </ButtonRedesSociales>
  </div>
</section>
