---
import Subtitles from "@components/Subtitles.astro";
import StudiesIcon from "@assets/iconsAstro/StudiesIcon.astro";
---

<section>
  <Subtitles title="Estudios">
    <StudiesIcon />
  </Subtitles>

  <div class="flex mt-4 gap-3 flex-col mb-16">
    <h3 class="text-P-light-subtitle-primary text-lg">
      Ingeniaria Informatica
    </h3>

    <ul class="list-disc pl-6 text-P-light-text-primary">
      <li>
        <p>Estudiante de sexto semestre</p>
      </li>
    </ul>

    <h3 class="text-P-light-subtitle-primary text-lg mt-2">
      Tecnico En Desarrollo De Software
    </h3>

    <ul class="list-disc pl-6 text-P-light-text-primary">
      <li>
        <p>Tecnico echo en el sena</p>
      </li>
    </ul>
  </div>
</section>
