---
import Subtitles from "@components/Subtitles.astro";
import StudiesIcon from "@assets/iconsAstro/StudiesIcon.astro";
---

<section>
  <Subtitles title="Estudios">
    <StudiesIcon />
  </Subtitles>

  <div class="flex mt-4 gap-3 flex-col mb-16">
    <h3 class="text-P-subtitle-primary text-lg">Ingeniaría Informática</h3>

    <ul class="list-disc pl-6 text-P-text-primary">
      <li>
        <p id="studies-time"></p>
      </li>
    </ul>

    <h3 class="text-P-subtitle-primary text-lg mt-2">
      Técnico En Desarrollo De Software
    </h3>

    <ul class="list-disc pl-6 text-P-text-primary">
      <li>
        <p>Técnico otorgado por el SENA.</p>
      </li>
    </ul>
  </div>
</section>

<script>
  const date = new Date();

  const year = date.getFullYear();
  const month = date.getMonth();

  const message = document.getElementById("studies-time");

  if (year >= 2026 && month > 6) {
    message.innerHTML = "Carrera terminada en UNIMAYOR";
  } else {
    if (year == 2023 && month > 6) {
      message.innerHTML = "Estudiante de quinto semestre.";
    }
    if (year == 2024 && month < 6) {
      message.innerHTML = "Estudiante de sexto semestre.";
    }
    if (year == 2024 && month > 6) {
      message.innerHTML = "Estudiante de séptimo semestre.";
    }
    if (year == 2025 && month < 6) {
      message.innerHTML = "Estudiante de octavo semestre.";
    }
    if (year == 2025 && month > 6) {
      message.innerHTML = "Estudiante de noveno semestre.";
    }
    if (year == 2026 && month < 6) {
      console.log("Estudiante de décimo semestre.");
    }
  }
</script>
