---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="flex gap-2 items-center">
  <h3 class="text-2xl font-medium text-P-light-title-primary">{title}</h3>
  <slot />
</div>
