@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --title-primary: #ffffff;

    --subtitle-primary: #98fb98;

    --text-primary: #fffff0;
    --text-secondary: #b0b0b0;

    --background-primary: linear-gradient(
      90deg,
      rgba(1, 27, 0, 1) 0%,
      rgba(2, 14, 0, 1) 100%
    );
    --background-secondary: #98fb98;
    --background-tertiary: #fff;
  }

  .dark {
    --title-primary: #fff;

    --subtitle-primary: #ccccc9;

    --text-primary: #9ca3af;
    --text-secondary: #9facb8;

    --background-primary: #1d2938;
    --background-secondary: #2a3545;
    --background-tertiary: #2a3545;
  }
}

.fondo {
  background: rgb(2, 87, 0);
  background: var(--background-primary);
}

